<!DOCTYPE html>
<html>
<head>
    <title>Register for a Course</title>
</head>
<body>
    <h1>Course Registration Form</h1>
    <form method="POST">
        Name: <input type="text" name="name"><br><br>
        Email: <input type="email" name="email"><br><br>
        Course: 
        <select name="course">
            <option value="Python">Python</option>
            <option value="Java">Java</option>
            <option value="Data Science">Data Science</option>
        </select><br><br>
        <input type="submit" value="Register">
    </form>
</body>
</html>